In [2]:
import pandas as pd
surveys_df = pd.read_csv("../data/surveys.csv")

### Q1: 
Command 1:

my_number_list = [1, 2, 3, 4, 5]
my_number_list.append(6)

Command 2:

my_number_list = [1, 2, 3, 4, 5]
my_number_list.insert(5, 2)

What is the difference between these two commands?

Answer: 

Append means to add the number to the end of your list

Insert (5, 2) means to insert at the fifth position the number 2

### Q2: 
surveys_df[(surveys_df.year >= 1980) & (surveys_df.year <= 1985)]

How could you modify the above command select only a subset of columns?

In [3]:
# Answer: 
    
data_subset = surveys_df[(surveys_df.year>=1980) & (surveys_df.year<=1985)]
data_subset[["species_id" , "weight" , "year"]]

      species_id  weight  year
2270          DO    53.0  1980
2271          PF    10.0  1980
2272          DM    33.0  1980
2273          DM    37.0  1980
2274          DO    29.0  1980
2275          DS   132.0  1980
2276          PF     8.0  1980
2277          OT    23.0  1980
2278          DM    36.0  1980
2279          OT    21.0  1980
2280          OL    29.0  1980
2281          DM    49.0  1980
2282          OL    23.0  1980
2283          OL    32.0  1980
2284          OL    24.0  1980
2285          DM    47.0  1980
2286          OT    22.0  1980
2287          RM    12.0  1980
2288          DS   150.0  1980
2289          DM    49.0  1980
2290          OL    34.0  1980
2291          DM    40.0  1980
2292          DS   132.0  1980
2293          DM    25.0  1980
2294          OL    36.0  1980
2295          DO    50.0  1980
2296          DM    45.0  1980
2297          DM    47.0  1980
2298          DM    46.0  1980
2299          DM    29.0  1980
...          ...     ...   ...
11197         DS   129.0  1985
11198         DM    42.0  1985
11199         AB     NaN  1985
11200         OL    29.0  1985
11201         DM    39.0  1985
11202         PE    19.0  1985
11203         PP    16.0  1985
11204         DO    56.0  1985
11205         DM    38.0  1985
11206         PE    19.0  1985
11207         DS   120.0  1985
11208         DO    52.0  1985
11209         DM    40.0  1985
11210         DM    45.0  1985
11211         DS   121.0  1985
11212         AH     NaN  1985
11213         DM    44.0  1985
11214         NL   160.0  1985
11215         RM     9.0  1985
11216         OL    34.0  1985
11217         DM    39.0  1985
11218         DM    41.0  1985
11219         DO    56.0  1985
11220         AH     NaN  1985
11221         AB     NaN  1985
11222         DM    40.0  1985
11223         DM    49.0  1985
11224         PE    18.0  1985
11225         DM    47.0  1985
11226        NaN     NaN  1985

[8957 rows x 3 columns]

# Q3

Which type of join will return the smallest subset of data, and why?

Answer: An inner join combines two DataFrames based on a join key and returns a new DataFrame that contains only those rows that have matching values in both of the original DataFrames. This will be the smallest data subset because a value must be in _both_ datasets to be included.

### Q4

How could you modify the yearly_data_csv_writer() function from Aug 28 class to write out only one year of data? Which function, yearly_data_csv_writer() or one_year_csv_writer would we have to modify to get monthly data?

Answer: 

To get only one year of data:

yearly_data_csv_writer(year, all_data)

To get monthly data, we would modify the yearly_data_csv_writer() function to split on the month and the year.

### Q5 

Why do we need yearly_data_csv_writer()? Why not just split up the raw file?
Answer: Modifying the raw data means we could introduce errors. Instead, we want to save our changes to a new file. That way, if there is ever any doubt about what we did to the data, and how, we can look back and see when changes were introduced.

### Q6
What is the difference between printing something to the screen, and returning it from a function?

Answer: Printing is just visual output. Returned values can be saved in memory and used again later.