# September 11

We're going to change up the schedule a little bit. This week, we'll cover some concepts that I saw in your datasets that weren't initially on the schedule:

- Splitting a column
- Replacing text
- Scaling values
- Grouping data

# Splitting a column

A challenge I saw in some of your datasets was that more than one piece of information has been added to a column. For example, species and sex in one column. This is often a choice made for convenience at some point, but actually limits the types of analysis we can perform with the data. Load in the species.csv file from the `../data` directory

In [2]:
import pandas as pd
species = pd.read_csv("../data/species.csv")

In [2]:
species

          species_id                      genus-species                   taxa
0                 AB             Amphispiza "bilineata"                   Bird
1                 AH         Ammospermophilus "harrisi"    Rodent-not censused
2                 AS            Ammodramus "savannarum"                   Bird
3                 BA                  Baiomys "taylori"                 Rodent
4                 CB  Campylorhynchus "brunneicapillus"                   Bird
5                 CM          Calamospiza "melanocorys"                   Bird
6                 CQ              Callipepla "squamata"                   Bird
7                 CS              Crotalus "scutalatus"                Reptile
8                 CT             Cnemidophorus "tigris"                Reptile
9                 CU          Cnemidophorus "uniparens"                Reptile
10                CV                 Crotalus "viridis"                Reptile
11                DM               Dipodomys "merriami"                 Rodent
12                DO                  Dipodomys "ordii"                 Rodent
13                DS            Dipodomys "spectabilis"                 Rodent
14                DX                    Dipodomys "sp."                 Rodent
15                EO                Eumeces "obsoletus"                Reptile
16                GS                   Gambelia "silus"                Reptile
17               NaN                 Neotoma "albigula"                 Rodent
18                NX                      Neotoma "sp."                 Rodent
19                OL            Onychomys "leucogaster"                 Rodent
20                OT               Onychomys "torridus"                 Rodent
21                OX                    Onychomys "sp."                 Rodent
22                PB              Chaetodipus "baileyi"                 Rodent
23                PC                 Pipilo "chlorurus"                   Bird
24                PE              Peromyscus "eremicus"                 Rodent
25                PF               Perognathus "flavus"                 Rodent
26                PG              Pooecetes "gramineus"                   Bird
27                PH             Perognathus "hispidus"                 Rodent
28                PI          Chaetodipus "intermedius"                 Rodent
29                PL              Peromyscus "leucopus"                 Rodent
30                PM           Peromyscus "maniculatus"                 Rodent
31                PP         Chaetodipus "penicillatus"                 Rodent
32                PU                    Pipilo "fuscus"                   Bird
33                PX                  Chaetodipus "sp."                 Rodent
34                RF       Reithrodontomys "fulvescens"                 Rodent
35                RM        Reithrodontomys "megalotis"                 Rodent
36                RO         Reithrodontomys "montanus"                 Rodent
37                RX              Reithrodontomys "sp."                 Rodent
38                SA             Sylvilagus "audubonii"                 Rabbit
39                SB                 Spizella "breweri"                   Bird
40                SC                Sceloporus "clarki"                Reptile
41                SF             Sigmodon "fulviventer"                 Rodent
42                SH                Sigmodon "hispidus"                 Rodent
43                SO            Sigmodon "ochrognathus"                 Rodent
44                SS           Spermophilus "spilosoma"    Rodent-not censused
45                ST        Spermophilus "tereticaudus"    Rodent-not censused
46                SU             Sceloporus "undulatus"                Reptile
47                SX                     Sigmodon "sp."                 Rodent
48                UL                       Lizard "sp."                Reptile
49                UP                       Pipilo "sp."                   Bird
50                UR                       Rodent "sp."                 Rodent
51                US                      Sparrow "sp."                   Bird
52                XX                                NaN  Zero Trapping Success
53  ZL "Zonotrichia"                         leucophrys                   Bird
54      ZM "Zenaida"                           macroura                   Bird

Print the dataset to the screen. It looks generally OK. But if you were to try and look at some facet of the data - say, how many species of each genus exists in the dataset, you couldn't! One of the items in the [data in spreadsheets](https://peerj.com/preprints/3183/) reading was that we should keep one piece of information in each column for this exact reason.

Because of this, we might want to think about splitting some of these columns up into two different columns. We are going to iteratively build up the column splitting command. We'll start simple, with the "genus-species" column.

In [4]:
species['genus'] = species['genus-species'].str.split(' ')

*Before* you view the results, talk with a partner about what you think the command did. Then view it. Is this what we want?

In [5]:
species

,species_id,genus-species,taxa,genus
0,AB,"Amphispiza ""bilineata""",Bird,"[Amphispiza, ""bilineata""]"
1,AH,"Ammospermophilus ""harrisi""",Rodent-not censused,"[Ammospermophilus, ""harrisi""]"
2,AS,"Ammodramus ""savannarum""",Bird,"[Ammodramus, ""savannarum""]"
3,BA,"Baiomys ""taylori""",Rodent,"[Baiomys, ""taylori""]"
4,CB,"Campylorhynchus ""brunneicapillus""",Bird,"[Campylorhynchus, ""brunneicapillus""]"
5,CM,"Calamospiza ""melanocorys""",Bird,"[Calamospiza, ""melanocorys""]"
6,CQ,"Callipepla ""squamata""",Bird,"[Callipepla, ""squamata""]"
7,CS,"Crotalus ""scutalatus""",Reptile,"[Crotalus, ""scutalatus""]"
8,CT,"Cnemidophorus ""tigris""",Reptile,"[Cnemidophorus, ""tigris""]"
9,CU,"Cnemidophorus ""uniparens""",Reptile,"[Cnemidophorus, ""uniparens""]"
10,CV,"Crotalus ""viridis""",Reptile,"[Crotalus, ""viridis""]"
11,DM,"Dipodomys ""merriami""",Rodent,"[Dipodomys, ""merriami""]"
12,DO,"Dipodomys ""ordii""",Rodent,"[Dipodomys, ""ordii""]"
13,DS,"Dipodomys ""spectabilis""",Rodent,"[Dipodomys, ""spectabilis""]"
14,DX,"Dipodomys ""sp.""",Rodent,"[Dipodomys, ""sp.""]"
15,EO,"Eumeces ""obsoletus""",Reptile,"[Eumeces, ""obsoletus""]"
16,GS,"Gambelia ""silus""",Reptile,"[Gambelia, ""silus""]"
17,NaN,"Neotoma ""albigula""",Rodent,"[Neotoma, ""albigula""]"
18,NX,"Neotoma ""sp.""",Rodent,"[Neotoma, ""sp.""]"
19,OL,"Onychomys ""leucogaster""",Rodent,"[Onychomys, ""leucogaster""]"
20,OT,"Onychomys ""torridus""",Rodent,"[Onychomys, ""torridus""]"
21,OX,"Onychomys ""sp.""",Rodent,"[Onychomys, ""sp.""]"
22,PB,"Chaetodipus ""baileyi""",Rodent,"[Chaetodipus, ""baileyi""]"
23,PC,"Pipilo ""chlorurus""",Bird,"[Pipilo, ""chlorurus""]"
24,PE,"Peromyscus ""eremicus""",Rodent,"[Peromyscus, ""eremicus""]"
25,PF,"Perognathus ""flavus""",Rodent,"[Perognathus, ""flavus""]"
26,PG,"Pooecetes ""gramineus""",Bird,"[Pooecetes, ""gramineus""]"
27,PH,"Perognathus ""hispidus""",Rodent,"[Perognathus, ""hispidus""]"
28,PI,"Chaetodipus ""intermedius""",Rodent,"[Chaetodipus, ""intermedius""]"
29,PL,"Peromyscus ""leucopus""",Rodent,"[Peromyscus, ""leucopus""]"
30,PM,"Peromyscus ""maniculatus""",Rodent,"[Peromyscus, ""maniculatus""]"
31,PP,"Chaetodipus ""penicillatus""",Rodent,"[Chaetodipus, ""penicillatus""]"
32,PU,"Pipilo ""fuscus""",Bird,"[Pipilo, ""fuscus""]"
33,PX,"Chaetodipus ""sp.""",Rodent,"[Chaetodipus, ""sp.""]"
34,RF,"Reithrodontomys ""fulvescens""",Rodent,"[Reithrodontomys, ""fulvescens""]"
35,RM,"Reithrodontomys ""megalotis""",Rodent,"[Reithrodontomys, ""megalotis""]"
36,RO,"Reithrodontomys ""montanus""",Rodent,"[Reithrodontomys, ""montanus""]"
37,RX,"Reithrodontomys ""sp.""",Rodent,"[Reithrodontomys, ""sp.""]"
38,SA,"Sylvilagus ""audubonii""",Rabbit,"[Sylvilagus, ""audubonii""]"
39,SB,"Spizella ""breweri""",Bird,"[Spizella, ""breweri""]"
40,SC,"Sceloporus ""clarki""",Reptile,"[Sceloporus, ""clarki""]"
41,SF,"Sigmodon ""fulviventer""",Rodent,"[Sigmodon, ""fulviventer""]"
42,SH,"Sigmodon ""hispidus""",Rodent,"[Sigmodon, ""hispidus""]"
43,SO,"Sigmodon ""ochrognathus""",Rodent,"[Sigmodon, ""ochrognathus""]"
44,SS,"Spermophilus ""spilosoma""",Rodent-not censused,"[Spermophilus, ""spilosoma""]"
45,ST,"Spermophilus ""tereticaudus""",Rodent-not censused,"[Spermophilus, ""tereticaudus""]"
46,SU,"Sceloporus ""undulatus""",Reptile,"[Sceloporus, ""undulatus""]"
47,SX,"Sigmodon ""sp.""",Rodent,"[Sigmodon, ""sp.""]"
48,UL,"Lizard ""sp.""",Reptile,"[Lizard, ""sp.""]"
49,UP,"Pipilo ""sp.""",Bird,"[Pipilo, ""sp.""]"
50,UR,"Rodent ""sp.""",Rodent,"[Rodent, ""sp.""]"
51,US,"Sparrow ""sp.""",Bird,"[Sparrow, ""sp.""]"
52,XX,NaN,Zero Trapping Success,NaN
53,"ZL ""Zonotrichia""",leucophrys,Bird,[leucophrys]
54,"ZM ""Zenaida""",macroura,Bird,[macroura]

How could we add these as columns to the dataframe? Take a moment and try a couple things.

In [3]:
# Put your answer here
species[['genus', 'species']] = species['genus-species'].str.split(' ', 2, expand=True)

In [7]:
species

,species_id,genus-species,taxa,genus,species
0,AB,"Amphispiza ""bilineata""",Bird,Amphispiza,"""bilineata"""
1,AH,"Ammospermophilus ""harrisi""",Rodent-not censused,Ammospermophilus,"""harrisi"""
2,AS,"Ammodramus ""savannarum""",Bird,Ammodramus,"""savannarum"""
3,BA,"Baiomys ""taylori""",Rodent,Baiomys,"""taylori"""
4,CB,"Campylorhynchus ""brunneicapillus""",Bird,Campylorhynchus,"""brunneicapillus"""
5,CM,"Calamospiza ""melanocorys""",Bird,Calamospiza,"""melanocorys"""
6,CQ,"Callipepla ""squamata""",Bird,Callipepla,"""squamata"""
7,CS,"Crotalus ""scutalatus""",Reptile,Crotalus,"""scutalatus"""
8,CT,"Cnemidophorus ""tigris""",Reptile,Cnemidophorus,"""tigris"""
9,CU,"Cnemidophorus ""uniparens""",Reptile,Cnemidophorus,"""uniparens"""
10,CV,"Crotalus ""viridis""",Reptile,Crotalus,"""viridis"""
11,DM,"Dipodomys ""merriami""",Rodent,Dipodomys,"""merriami"""
12,DO,"Dipodomys ""ordii""",Rodent,Dipodomys,"""ordii"""
13,DS,"Dipodomys ""spectabilis""",Rodent,Dipodomys,"""spectabilis"""
14,DX,"Dipodomys ""sp.""",Rodent,Dipodomys,"""sp."""
15,EO,"Eumeces ""obsoletus""",Reptile,Eumeces,"""obsoletus"""
16,GS,"Gambelia ""silus""",Reptile,Gambelia,"""silus"""
17,NaN,"Neotoma ""albigula""",Rodent,Neotoma,"""albigula"""
18,NX,"Neotoma ""sp.""",Rodent,Neotoma,"""sp."""
19,OL,"Onychomys ""leucogaster""",Rodent,Onychomys,"""leucogaster"""
20,OT,"Onychomys ""torridus""",Rodent,Onychomys,"""torridus"""
21,OX,"Onychomys ""sp.""",Rodent,Onychomys,"""sp."""
22,PB,"Chaetodipus ""baileyi""",Rodent,Chaetodipus,"""baileyi"""
23,PC,"Pipilo ""chlorurus""",Bird,Pipilo,"""chlorurus"""
24,PE,"Peromyscus ""eremicus""",Rodent,Peromyscus,"""eremicus"""
25,PF,"Perognathus ""flavus""",Rodent,Perognathus,"""flavus"""
26,PG,"Pooecetes ""gramineus""",Bird,Pooecetes,"""gramineus"""
27,PH,"Perognathus ""hispidus""",Rodent,Perognathus,"""hispidus"""
28,PI,"Chaetodipus ""intermedius""",Rodent,Chaetodipus,"""intermedius"""
29,PL,"Peromyscus ""leucopus""",Rodent,Peromyscus,"""leucopus"""
30,PM,"Peromyscus ""maniculatus""",Rodent,Peromyscus,"""maniculatus"""
31,PP,"Chaetodipus ""penicillatus""",Rodent,Chaetodipus,"""penicillatus"""
32,PU,"Pipilo ""fuscus""",Bird,Pipilo,"""fuscus"""
33,PX,"Chaetodipus ""sp.""",Rodent,Chaetodipus,"""sp."""
34,RF,"Reithrodontomys ""fulvescens""",Rodent,Reithrodontomys,"""fulvescens"""
35,RM,"Reithrodontomys ""megalotis""",Rodent,Reithrodontomys,"""megalotis"""
36,RO,"Reithrodontomys ""montanus""",Rodent,Reithrodontomys,"""montanus"""
37,RX,"Reithrodontomys ""sp.""",Rodent,Reithrodontomys,"""sp."""
38,SA,"Sylvilagus ""audubonii""",Rabbit,Sylvilagus,"""audubonii"""
39,SB,"Spizella ""breweri""",Bird,Spizella,"""breweri"""
40,SC,"Sceloporus ""clarki""",Reptile,Sceloporus,"""clarki"""
41,SF,"Sigmodon ""fulviventer""",Rodent,Sigmodon,"""fulviventer"""
42,SH,"Sigmodon ""hispidus""",Rodent,Sigmodon,"""hispidus"""
43,SO,"Sigmodon ""ochrognathus""",Rodent,Sigmodon,"""ochrognathus"""
44,SS,"Spermophilus ""spilosoma""",Rodent-not censused,Spermophilus,"""spilosoma"""
45,ST,"Spermophilus ""tereticaudus""",Rodent-not censused,Spermophilus,"""tereticaudus"""
46,SU,"Sceloporus ""undulatus""",Reptile,Sceloporus,"""undulatus"""
47,SX,"Sigmodon ""sp.""",Rodent,Sigmodon,"""sp."""
48,UL,"Lizard ""sp.""",Reptile,Lizard,"""sp."""
49,UP,"Pipilo ""sp.""",Bird,Pipilo,"""sp."""
50,UR,"Rodent ""sp.""",Rodent,Rodent,"""sp."""
51,US,"Sparrow ""sp.""",Bird,Sparrow,"""sp."""
52,XX,NaN,Zero Trapping Success,NaN,NaN
53,"ZL ""Zonotrichia""",leucophrys,Bird,leucophrys,None
54,"ZM ""Zenaida""",macroura,Bird,macroura,None

This looks sort of like we want, yes? We have two new columns, genus and species. They contain roughly the data that we think they ought to. But we still have some problems: the species names contain extra characters, and we still have a "genus-species" column. First, let's get rid of the execess column.

In [8]:
# The below will require you to fill in the column to drop and 
# axis for it to work

species = species.drop("genus-species", axis=1)

In [9]:
species

,species_id,taxa,genus,species
0,AB,Bird,Amphispiza,"""bilineata"""
1,AH,Rodent-not censused,Ammospermophilus,"""harrisi"""
2,AS,Bird,Ammodramus,"""savannarum"""
3,BA,Rodent,Baiomys,"""taylori"""
4,CB,Bird,Campylorhynchus,"""brunneicapillus"""
5,CM,Bird,Calamospiza,"""melanocorys"""
6,CQ,Bird,Callipepla,"""squamata"""
7,CS,Reptile,Crotalus,"""scutalatus"""
8,CT,Reptile,Cnemidophorus,"""tigris"""
9,CU,Reptile,Cnemidophorus,"""uniparens"""
10,CV,Reptile,Crotalus,"""viridis"""
11,DM,Rodent,Dipodomys,"""merriami"""
12,DO,Rodent,Dipodomys,"""ordii"""
13,DS,Rodent,Dipodomys,"""spectabilis"""
14,DX,Rodent,Dipodomys,"""sp."""
15,EO,Reptile,Eumeces,"""obsoletus"""
16,GS,Reptile,Gambelia,"""silus"""
17,NaN,Rodent,Neotoma,"""albigula"""
18,NX,Rodent,Neotoma,"""sp."""
19,OL,Rodent,Onychomys,"""leucogaster"""
20,OT,Rodent,Onychomys,"""torridus"""
21,OX,Rodent,Onychomys,"""sp."""
22,PB,Rodent,Chaetodipus,"""baileyi"""
23,PC,Bird,Pipilo,"""chlorurus"""
24,PE,Rodent,Peromyscus,"""eremicus"""
25,PF,Rodent,Perognathus,"""flavus"""
26,PG,Bird,Pooecetes,"""gramineus"""
27,PH,Rodent,Perognathus,"""hispidus"""
28,PI,Rodent,Chaetodipus,"""intermedius"""
29,PL,Rodent,Peromyscus,"""leucopus"""
30,PM,Rodent,Peromyscus,"""maniculatus"""
31,PP,Rodent,Chaetodipus,"""penicillatus"""
32,PU,Bird,Pipilo,"""fuscus"""
33,PX,Rodent,Chaetodipus,"""sp."""
34,RF,Rodent,Reithrodontomys,"""fulvescens"""
35,RM,Rodent,Reithrodontomys,"""megalotis"""
36,RO,Rodent,Reithrodontomys,"""montanus"""
37,RX,Rodent,Reithrodontomys,"""sp."""
38,SA,Rabbit,Sylvilagus,"""audubonii"""
39,SB,Bird,Spizella,"""breweri"""
40,SC,Reptile,Sceloporus,"""clarki"""
41,SF,Rodent,Sigmodon,"""fulviventer"""
42,SH,Rodent,Sigmodon,"""hispidus"""
43,SO,Rodent,Sigmodon,"""ochrognathus"""
44,SS,Rodent-not censused,Spermophilus,"""spilosoma"""
45,ST,Rodent-not censused,Spermophilus,"""tereticaudus"""
46,SU,Reptile,Sceloporus,"""undulatus"""
47,SX,Rodent,Sigmodon,"""sp."""
48,UL,Reptile,Lizard,"""sp."""
49,UP,Bird,Pipilo,"""sp."""
50,UR,Rodent,Rodent,"""sp."""
51,US,Bird,Sparrow,"""sp."""
52,XX,Zero Trapping Success,NaN,NaN
53,"ZL ""Zonotrichia""",Bird,leucophrys,None
54,"ZM ""Zenaida""",Bird,macroura,None

Good. Now we don't have extra data in our drataframe. Now, we're going to clean out the extra characters.

In [14]:
species['species'] = species.species.replace('"', '', regex=True)

In [15]:
species

          species_id                   taxa             genus          species
0                 AB                   Bird        Amphispiza        bilineata
1                 AH    Rodent-not censused  Ammospermophilus          harrisi
2                 AS                   Bird        Ammodramus       savannarum
3                 BA                 Rodent           Baiomys          taylori
4                 CB                   Bird   Campylorhynchus  brunneicapillus
5                 CM                   Bird       Calamospiza      melanocorys
6                 CQ                   Bird        Callipepla         squamata
7                 CS                Reptile          Crotalus       scutalatus
8                 CT                Reptile     Cnemidophorus           tigris
9                 CU                Reptile     Cnemidophorus        uniparens
10                CV                Reptile          Crotalus          viridis
11                DM                 Rodent         Dipodomys         merriami
12                DO                 Rodent         Dipodomys            ordii
13                DS                 Rodent         Dipodomys      spectabilis
14                DX                 Rodent         Dipodomys              sp.
15                EO                Reptile           Eumeces        obsoletus
16                GS                Reptile          Gambelia            silus
17               NaN                 Rodent           Neotoma         albigula
18                NX                 Rodent           Neotoma              sp.
19                OL                 Rodent         Onychomys      leucogaster
20                OT                 Rodent         Onychomys         torridus
21                OX                 Rodent         Onychomys              sp.
22                PB                 Rodent       Chaetodipus          baileyi
23                PC                   Bird            Pipilo        chlorurus
24                PE                 Rodent        Peromyscus         eremicus
25                PF                 Rodent       Perognathus           flavus
26                PG                   Bird         Pooecetes        gramineus
27                PH                 Rodent       Perognathus         hispidus
28                PI                 Rodent       Chaetodipus      intermedius
29                PL                 Rodent        Peromyscus         leucopus
30                PM                 Rodent        Peromyscus      maniculatus
31                PP                 Rodent       Chaetodipus     penicillatus
32                PU                   Bird            Pipilo           fuscus
33                PX                 Rodent       Chaetodipus              sp.
34                RF                 Rodent   Reithrodontomys       fulvescens
35                RM                 Rodent   Reithrodontomys        megalotis
36                RO                 Rodent   Reithrodontomys         montanus
37                RX                 Rodent   Reithrodontomys              sp.
38                SA                 Rabbit        Sylvilagus        audubonii
39                SB                   Bird          Spizella          breweri
40                SC                Reptile        Sceloporus           clarki
41                SF                 Rodent          Sigmodon      fulviventer
42                SH                 Rodent          Sigmodon         hispidus
43                SO                 Rodent          Sigmodon     ochrognathus
44                SS    Rodent-not censused      Spermophilus        spilosoma
45                ST    Rodent-not censused      Spermophilus     tereticaudus
46                SU                Reptile        Sceloporus        undulatus
47                SX                 Rodent          Sigmodon              sp.
48                UL                Reptile            Lizard              sp.
49                UP                   Bird            Pipilo              sp.
50                UR                 Rodent            Rodent              sp.
51                US                   Bird           Sparrow              sp.
52                XX  Zero Trapping Success               NaN              NaN
53  ZL "Zonotrichia"                   Bird        leucophrys             None
54      ZM "Zenaida"                   Bird          macroura             None

Take a look at the results. Has this done what we want? Pretty much. But some of you have more complex replacement issues. For example, the Piller students have a dataset in which all the measurements are in millimeters. Except a few cells, which are in CM, and are denoted as being in CM. In this case, when we encounter the "problem" condition, we want to do something special with the value.

## Using loops and replacements together

As I said above, something we might want to do is not simply a replace, but to do some other work with the value. For example, in the case of the Piller students, when they encounter a "cm", they want to remove it. That's easy to do with replace. But they also want to convert it to mm so the columns are all in the same measurements. This isn't the easiest thing, but it isn't the hardest, either. Below, I've made three bullet points. Each will correspond to a step that we need to do to accomplish the task.

- Locate the "problem values"
- Remove the "cm" characters
- Convert the numeric value to an integer
- Multiply by 10 to get mm.

But first, without a computer, describe to your partner how to get to my office. Or yours. Someone's office. Where will they turn? How will they know when to turn. 

With this in mind, what are the four steps to make this task happen?

These data are a little different than the ones we've been working with. They are in Excel format, which means we need to use a different function to read them. What are these arguments, skiprows and header, doing?

In [27]:
import pandas as pd

messy = pd.read_excel("../data/messy_data_set.xlsx", skiprows=0, header=1)

In [28]:
messy

,Specimen,Standard length,Predorsal length,preanal length,prepelvic length,prepectoral length,dorsal-fin base length,dorsal fin origin to pectoral origin,dorsal fin origin to pelvic origin,dorsal terminus to anal origin,...,pectoral origin to pelvic origin,anal-fin base length,anal origin to adipse origin,length of caudal peduncle,Adipose origin to base of last anal fin ray,Maxillary length,snout length,vertical orbit diameter,head length,anterior margin of orbit to maxilla
0,1,82.53,38.62,56.54,40.41,19.59,10.33,27.3,22.47,19.34,...,21.15,19.39,22.62,7.71,9.4,8.19,5.4,7.68,20.93,3.07
1,Paratype 2,7.988cm,38.28,53.61,38.3,18,9.18,26.84,22.8,19.16,...,19.84,19.29,21.65,7.11,9.16,8.05,5.03,7.34,19.68,2.74
2,3,76.34,36.3,50.56,36.98,17.89,8.92,25.66,21.16,18.22,...,no data,1.891,21.05,6.91,8.77,7.64,4.82,6.55,18.5,2.54
3,4,71.87,33.02,4.824 cm,33.76,17.19,8.97,23.27,19.86,17.65,...,16.35,17.11,20.39,6.45,8.27,7.01,no data,6.16,1.773,2.09
4,7,62.05,29.79,41.45,29.56,14.23,6.65,19.75,16.75,14.98,...,14.55,14.81,17.03,5.61,7.1,6.34,3.98,5.63,16.86,2.08
5,8,6.051 cm,27.89,38.19,29.17,14.98,7.85,19.18,15.94,14.64,...,13.81,14.93,17.21,5.58,6.87,6.39,4.15,5.53,15.16,2.21
6,9,59.33,28.4,38.77,29.06,13.68,6.79,19.28,15.67,13.93,...,14.65,14.86,16.59,5.09,6.56,6.22,3.01,5.88,14.96,2.13
7,Holotype 11,57.05,28.08,38.54,29.03,13.49,no data,19.05,16,13.37,...,14.04,13.66,1.543 cm,5.55,6.45,6.13,4.37,5.21,14.33,2.16
8,12,56.88,27.14,37.79,28.22,13.44,6.27,18.87,15.2,13.63,...,13.42,13.88,15.98,5.62,6.54,5.99,3.95,5.34,14.31,2.23
9,Paratype 13,57.49,27.99,37.7,28.91,13.06,7.01,18.65,1.595 cm,14.09,...,14.19,13.95,15.78,5.62,6.23,5.94,3.8,5.62,14.34,2.05
10,14,no data,26.43,3.673 cm,27.42,13.48,6.32,18.13,14.84,13.36,...,12.87,13.37,15.17,4.9,5.84,5.46,3.13,5.15,13.84,1.96
11,15,52.76,26.11,34.92,26.46,13.08,6.12,17.26,14.46,12.87,...,12.17,12.72,14.09,5.17,5.82,5.11,2.89,5.55,1.361 cm,1.88
12,18,53.7,25.55,35.05,26.8,13.48,6.13,1.652 cm,13.73,13.08,...,12.13,12.83,14.46,4.74,5.22,5.33,3.38,5.02,13.69,1.97
13,19,5.207 cm,25.41,33.32,25.07,13.09,6.24,15.8,13.35,12.14,...,1.221cm,13.25,14.76,4.76,5.56,5.67,3.43,4.87,13.51,2.05
14,Paratype 20,54.35,26.29,35.36,26.61,no data,6.14,18.18,14.78,13.28,...,12.99,13.09,15.27,4.99,6.03,no data,3.19,5.42,14,2.02
15,21,53.84,24.94,34.68,26.24,12.56,6.64,17.44,14.16,13.17,...,13.12,12.08,14.93,5.11,6,5.31,3.42,5.07,13.4,2.14
16,22,52.97,2.439 cm,33.89,25.91,13.47,6.55,16.81,14.28,13.23,...,13.25,12.88,15.12,5.12,5.95,4.99,3.08,5.28,13.11,1.99
17,23,51.84,25.13,33.74,25.73,13.09,6.3,16.76,14.01,12.79,...,12.53,12.41,14.89,5.07,5.51,4.85,3.01,5.18,13.32,2.03
18,Paratype 24,54.79,25.25,35.06,26.51,12.46,6.74,16.97,14.35,12.98,...,12.45,13.13,14.69,5.37,6.17,5.32,3.25,4.99,13.46,1.88
19,25,48.3,24.05,31.12,24.3,11.56,6.04,15.72,1.273 cm,11.19,...,11.59,11.61,13.29,4.39,5.34,4.68,2.97,4.64,12.42,1.91
20,26,48.94,23.62,32.32,24.15,11.16,5.94,15.51,13.25,11.64,...,11.74,11.36,13.59,4.17,5.27,4.48,3.42,4.83,12.75,1.81
21,27,5.047 cm,23.98,33.1,25.23,12.23,5.76,16.35,1.327,11.89,...,11.98,12.03,13.78,4.4,5.73,4.73,3.41,5.17,12.83,1.95
22,Paratype 28,46.62,22.93,30.34,23.08,10.93,5.87,14.64,12.35,11.24,...,11.26,11.38,12.41,3.97,5.24,4.43,2.53,4.75,12.32,1.79
23,Paratype 29,49.53,24.53,31.87,25.38,11.4,5.59,15.8,13.24,11.79,...,12.32,11.71,13.81,4.32,5.75,4.87,3.34,4.94,12.68,1.85
24,30,47.56,22.91,30.55,23.69,11.12,5.74,15.34,12.56,11.17,...,11.5,10.95,12.66,4.22,5.42,4.66,3.09,4.65,12.38,1.82
25,31,45.17,22.03,no data,22.74,10.96,5.15,no data,11.85,10.58,...,11.27,10.84,12.02,4.13,5.33,4.38,2.96,4.37,11.56,1.74
26,32,46.5,22.49,29.9,23.15,10.95,5.34,15.11,12.51,10.81,...,11.03,10.97,12.37,3.92,5.12,4.32,2.85,4.82,11.86,1.78
27,33,46.87,22.32,30.23,23.62,1.064cm,5.22,15.55,12.65,11.27,...,10.89,10.57,NaN,4.07,NaN,4.2,2.97,4.6,12.16,1.79
28,34,41.08,20.08,27.08,20.87,9.85,4.68,13.58,10.95,9.37,...,9.87,9.9,11.35,3.45,4.52,3.65,2.33,4.21,10.78,1.62
29,NaN,52.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,mean,54.9317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,minimum,41.08,0.459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,maximum,82.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,S.D,9.93162,1.11,1.25,1.03,0.92,0.55,0.84,0.68,0.52,...,0.8,0.64,0.64,0.47,0.42,0.51,0.56,0.5,0.64,0.24
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,Holotype,Mean,Min.,Max.,S.D.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Standard length,57.05,????,41.08,82.53,10.23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,predorsal length,49.22,47.96,45.9,49.79,1.11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,preanal length,67.55,65.43,63.11,68.51,1.25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,prepelvic length,50.89,49.37,46.97,51.24,1.03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,prepectoral length,23.65,23.85,????,25.91,0.92,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,dorsal-fin base length,11.87,11.82,10.72,12.97,0.55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,dorsal fin origin to pectoral origin,33.39,32.38,30.34,33.61,????,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,dorsal fin origin to pelvic origin,28.05,26.85,25.57,28.54,0.68,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,dorsal terminus to anal origin,23.44,23.91,22.81,24.98,0.52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,dorsal terminus to pelvic origin,40.65,40.9,38.6,42.39,0.88,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,dorsal origin to adipose origin,38.04,38.12,36.47,40.01,0.96,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,adipose origin to hypural plate,18.39,18.1,16.93,????,0.66,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,pectoral origin to pelvic origin,24.61,23.98,22.59,25.63,0.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,anal-fin base length,23.94,23.97,22.44,25.45,0.64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,anal origin to adipse origin,27.05,27.52,26.6,28.72,0.64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,length of caudal peduncle,9.73,9.11,8.4,9.88,0.47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,adipose origin to base of last anal fin ray,11.31,????,9.72,11.8,0.42,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,maxillary length,10.74,9.85,8.89,10.89,0.51,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,snout length,7.66,6.26,5.07,7.66,0.56,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,vertical orbit diameter,9.13,9.61,8.57,10.52,0.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,head length,25.12,25.54,24.23,????,0.64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,anterior margin of orbit to maxilla,3.79,3.69,2.91,3.97,0.24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

They also have some extra stuff at the end - let's just grab the rows that correspond to actual specimens.

In [29]:
messy = messy[0:30]

Isolating individual problem values can be tricky. First, we will isolate the cells containing problem values. The contains() function locates rows that have the problem value anywhere in them. the argument `na=False` causes us to simply ignore missing data.

In [30]:
sample = messy[messy['dorsal fin origin to pectoral origin'].str.contains("cm", na=False)]

In [31]:
sample

,Specimen,Standard length,Predorsal length,preanal length,prepelvic length,prepectoral length,dorsal-fin base length,dorsal fin origin to pectoral origin,dorsal fin origin to pelvic origin,dorsal terminus to anal origin,...,pectoral origin to pelvic origin,anal-fin base length,anal origin to adipse origin,length of caudal peduncle,Adipose origin to base of last anal fin ray,Maxillary length,snout length,vertical orbit diameter,head length,anterior margin of orbit to maxilla
12,18,53.7,25.55,35.05,26.8,13.48,6.13,1.652 cm,13.73,13.08,...,12.13,12.83,14.46,4.74,5.22,5.33,3.38,5.02,13.69,1.97

Next, for that row, we locate the individual cells that contain the problem value, and for each cell, replace it with the problem value removed. At the same time, we convert to numeric and multiply by 10.

In [32]:
if sample['dorsal fin origin to pectoral origin'].str.contains("cm", na=False).any() == True:
    sample['dorsal fin origin to pectoral origin'] = sample['dorsal fin origin to pectoral origin'].str.replace("cm", "", regex=True)
    sample['dorsal fin origin to pectoral origin'] = float(sample['dorsal fin origin to pectoral origin'])*10

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
sample

,Specimen,Standard length,Predorsal length,preanal length,prepelvic length,prepectoral length,dorsal-fin base length,dorsal fin origin to pectoral origin,dorsal fin origin to pelvic origin,dorsal terminus to anal origin,...,pectoral origin to pelvic origin,anal-fin base length,anal origin to adipse origin,length of caudal peduncle,Adipose origin to base of last anal fin ray,Maxillary length,snout length,vertical orbit diameter,head length,anterior margin of orbit to maxilla
12,18,53.7,25.55,35.05,26.8,13.48,6.13,16.52,13.73,13.08,...,12.13,12.83,14.46,4.74,5.22,5.33,3.38,5.02,13.69,1.97

Then, we reinsert the value in the original dataframe.

In [34]:
messy.loc[12] = sample.loc[12]

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
messy

,Specimen,Standard length,Predorsal length,preanal length,prepelvic length,prepectoral length,dorsal-fin base length,dorsal fin origin to pectoral origin,dorsal fin origin to pelvic origin,dorsal terminus to anal origin,...,pectoral origin to pelvic origin,anal-fin base length,anal origin to adipse origin,length of caudal peduncle,Adipose origin to base of last anal fin ray,Maxillary length,snout length,vertical orbit diameter,head length,anterior margin of orbit to maxilla
0,1,82.53,38.62,56.54,40.41,19.59,10.33,27.3,22.47,19.34,...,21.15,19.39,22.62,7.71,9.4,8.19,5.4,7.68,20.93,3.07
1,Paratype 2,7.988cm,38.28,53.61,38.3,18,9.18,26.84,22.8,19.16,...,19.84,19.29,21.65,7.11,9.16,8.05,5.03,7.34,19.68,2.74
2,3,76.34,36.3,50.56,36.98,17.89,8.92,25.66,21.16,18.22,...,no data,1.891,21.05,6.91,8.77,7.64,4.82,6.55,18.5,2.54
3,4,71.87,33.02,4.824 cm,33.76,17.19,8.97,23.27,19.86,17.65,...,16.35,17.11,20.39,6.45,8.27,7.01,no data,6.16,1.773,2.09
4,7,62.05,29.79,41.45,29.56,14.23,6.65,19.75,16.75,14.98,...,14.55,14.81,17.03,5.61,7.1,6.34,3.98,5.63,16.86,2.08
5,8,6.051 cm,27.89,38.19,29.17,14.98,7.85,19.18,15.94,14.64,...,13.81,14.93,17.21,5.58,6.87,6.39,4.15,5.53,15.16,2.21
6,9,59.33,28.4,38.77,29.06,13.68,6.79,19.28,15.67,13.93,...,14.65,14.86,16.59,5.09,6.56,6.22,3.01,5.88,14.96,2.13
7,Holotype 11,57.05,28.08,38.54,29.03,13.49,no data,19.05,16,13.37,...,14.04,13.66,1.543 cm,5.55,6.45,6.13,4.37,5.21,14.33,2.16
8,12,56.88,27.14,37.79,28.22,13.44,6.27,18.87,15.2,13.63,...,13.42,13.88,15.98,5.62,6.54,5.99,3.95,5.34,14.31,2.23
9,Paratype 13,57.49,27.99,37.7,28.91,13.06,7.01,18.65,1.595 cm,14.09,...,14.19,13.95,15.78,5.62,6.23,5.94,3.8,5.62,14.34,2.05
10,14,no data,26.43,3.673 cm,27.42,13.48,6.32,18.13,14.84,13.36,...,12.87,13.37,15.17,4.9,5.84,5.46,3.13,5.15,13.84,1.96
11,15,52.76,26.11,34.92,26.46,13.08,6.12,17.26,14.46,12.87,...,12.17,12.72,14.09,5.17,5.82,5.11,2.89,5.55,1.361 cm,1.88
12,18,53.7,25.55,35.05,26.8,13.48,6.13,16.52,13.73,13.08,...,12.13,12.83,14.46,4.74,5.22,5.33,3.38,5.02,13.69,1.97
13,19,5.207 cm,25.41,33.32,25.07,13.09,6.24,15.8,13.35,12.14,...,1.221cm,13.25,14.76,4.76,5.56,5.67,3.43,4.87,13.51,2.05
14,Paratype 20,54.35,26.29,35.36,26.61,no data,6.14,18.18,14.78,13.28,...,12.99,13.09,15.27,4.99,6.03,no data,3.19,5.42,14,2.02
15,21,53.84,24.94,34.68,26.24,12.56,6.64,17.44,14.16,13.17,...,13.12,12.08,14.93,5.11,6,5.31,3.42,5.07,13.4,2.14
16,22,52.97,2.439 cm,33.89,25.91,13.47,6.55,16.81,14.28,13.23,...,13.25,12.88,15.12,5.12,5.95,4.99,3.08,5.28,13.11,1.99
17,23,51.84,25.13,33.74,25.73,13.09,6.3,16.76,14.01,12.79,...,12.53,12.41,14.89,5.07,5.51,4.85,3.01,5.18,13.32,2.03
18,Paratype 24,54.79,25.25,35.06,26.51,12.46,6.74,16.97,14.35,12.98,...,12.45,13.13,14.69,5.37,6.17,5.32,3.25,4.99,13.46,1.88
19,25,48.3,24.05,31.12,24.3,11.56,6.04,15.72,1.273 cm,11.19,...,11.59,11.61,13.29,4.39,5.34,4.68,2.97,4.64,12.42,1.91
20,26,48.94,23.62,32.32,24.15,11.16,5.94,15.51,13.25,11.64,...,11.74,11.36,13.59,4.17,5.27,4.48,3.42,4.83,12.75,1.81
21,27,5.047 cm,23.98,33.1,25.23,12.23,5.76,16.35,1.327,11.89,...,11.98,12.03,13.78,4.4,5.73,4.73,3.41,5.17,12.83,1.95
22,Paratype 28,46.62,22.93,30.34,23.08,10.93,5.87,14.64,12.35,11.24,...,11.26,11.38,12.41,3.97,5.24,4.43,2.53,4.75,12.32,1.79
23,Paratype 29,49.53,24.53,31.87,25.38,11.4,5.59,15.8,13.24,11.79,...,12.32,11.71,13.81,4.32,5.75,4.87,3.34,4.94,12.68,1.85
24,30,47.56,22.91,30.55,23.69,11.12,5.74,15.34,12.56,11.17,...,11.5,10.95,12.66,4.22,5.42,4.66,3.09,4.65,12.38,1.82
25,31,45.17,22.03,no data,22.74,10.96,5.15,no data,11.85,10.58,...,11.27,10.84,12.02,4.13,5.33,4.38,2.96,4.37,11.56,1.74
26,32,46.5,22.49,29.9,23.15,10.95,5.34,15.11,12.51,10.81,...,11.03,10.97,12.37,3.92,5.12,4.32,2.85,4.82,11.86,1.78
27,33,46.87,22.32,30.23,23.62,1.064cm,5.22,15.55,12.65,11.27,...,10.89,10.57,NaN,4.07,NaN,4.2,2.97,4.6,12.16,1.79
28,34,41.08,20.08,27.08,20.87,9.85,4.68,13.58,10.95,9.37,...,9.87,9.9,11.35,3.45,4.52,3.65,2.33,4.21,10.78,1.62
29,NaN,52.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This was really tricky. Exceptionally tricky. But when we break it down in to smaller pieces, it's not so bad.

# Grouping

We might have some _a priori_ idea about what substructure exists in our data. For example, in the species dataset:

In [4]:
species

,species_id,genus-species,taxa,genus,species
0,AB,"Amphispiza ""bilineata""",Bird,Amphispiza,"""bilineata"""
1,AH,"Ammospermophilus ""harrisi""",Rodent-not censused,Ammospermophilus,"""harrisi"""
2,AS,"Ammodramus ""savannarum""",Bird,Ammodramus,"""savannarum"""
3,BA,"Baiomys ""taylori""",Rodent,Baiomys,"""taylori"""
4,CB,"Campylorhynchus ""brunneicapillus""",Bird,Campylorhynchus,"""brunneicapillus"""
5,CM,"Calamospiza ""melanocorys""",Bird,Calamospiza,"""melanocorys"""
6,CQ,"Callipepla ""squamata""",Bird,Callipepla,"""squamata"""
7,CS,"Crotalus ""scutalatus""",Reptile,Crotalus,"""scutalatus"""
8,CT,"Cnemidophorus ""tigris""",Reptile,Cnemidophorus,"""tigris"""
9,CU,"Cnemidophorus ""uniparens""",Reptile,Cnemidophorus,"""uniparens"""
10,CV,"Crotalus ""viridis""",Reptile,Crotalus,"""viridis"""
11,DM,"Dipodomys ""merriami""",Rodent,Dipodomys,"""merriami"""
12,DO,"Dipodomys ""ordii""",Rodent,Dipodomys,"""ordii"""
13,DS,"Dipodomys ""spectabilis""",Rodent,Dipodomys,"""spectabilis"""
14,DX,"Dipodomys ""sp.""",Rodent,Dipodomys,"""sp."""
15,EO,"Eumeces ""obsoletus""",Reptile,Eumeces,"""obsoletus"""
16,GS,"Gambelia ""silus""",Reptile,Gambelia,"""silus"""
17,NaN,"Neotoma ""albigula""",Rodent,Neotoma,"""albigula"""
18,NX,"Neotoma ""sp.""",Rodent,Neotoma,"""sp."""
19,OL,"Onychomys ""leucogaster""",Rodent,Onychomys,"""leucogaster"""
20,OT,"Onychomys ""torridus""",Rodent,Onychomys,"""torridus"""
21,OX,"Onychomys ""sp.""",Rodent,Onychomys,"""sp."""
22,PB,"Chaetodipus ""baileyi""",Rodent,Chaetodipus,"""baileyi"""
23,PC,"Pipilo ""chlorurus""",Bird,Pipilo,"""chlorurus"""
24,PE,"Peromyscus ""eremicus""",Rodent,Peromyscus,"""eremicus"""
25,PF,"Perognathus ""flavus""",Rodent,Perognathus,"""flavus"""
26,PG,"Pooecetes ""gramineus""",Bird,Pooecetes,"""gramineus"""
27,PH,"Perognathus ""hispidus""",Rodent,Perognathus,"""hispidus"""
28,PI,"Chaetodipus ""intermedius""",Rodent,Chaetodipus,"""intermedius"""
29,PL,"Peromyscus ""leucopus""",Rodent,Peromyscus,"""leucopus"""
30,PM,"Peromyscus ""maniculatus""",Rodent,Peromyscus,"""maniculatus"""
31,PP,"Chaetodipus ""penicillatus""",Rodent,Chaetodipus,"""penicillatus"""
32,PU,"Pipilo ""fuscus""",Bird,Pipilo,"""fuscus"""
33,PX,"Chaetodipus ""sp.""",Rodent,Chaetodipus,"""sp."""
34,RF,"Reithrodontomys ""fulvescens""",Rodent,Reithrodontomys,"""fulvescens"""
35,RM,"Reithrodontomys ""megalotis""",Rodent,Reithrodontomys,"""megalotis"""
36,RO,"Reithrodontomys ""montanus""",Rodent,Reithrodontomys,"""montanus"""
37,RX,"Reithrodontomys ""sp.""",Rodent,Reithrodontomys,"""sp."""
38,SA,"Sylvilagus ""audubonii""",Rabbit,Sylvilagus,"""audubonii"""
39,SB,"Spizella ""breweri""",Bird,Spizella,"""breweri"""
40,SC,"Sceloporus ""clarki""",Reptile,Sceloporus,"""clarki"""
41,SF,"Sigmodon ""fulviventer""",Rodent,Sigmodon,"""fulviventer"""
42,SH,"Sigmodon ""hispidus""",Rodent,Sigmodon,"""hispidus"""
43,SO,"Sigmodon ""ochrognathus""",Rodent,Sigmodon,"""ochrognathus"""
44,SS,"Spermophilus ""spilosoma""",Rodent-not censused,Spermophilus,"""spilosoma"""
45,ST,"Spermophilus ""tereticaudus""",Rodent-not censused,Spermophilus,"""tereticaudus"""
46,SU,"Sceloporus ""undulatus""",Reptile,Sceloporus,"""undulatus"""
47,SX,"Sigmodon ""sp.""",Rodent,Sigmodon,"""sp."""
48,UL,"Lizard ""sp.""",Reptile,Lizard,"""sp."""
49,UP,"Pipilo ""sp.""",Bird,Pipilo,"""sp."""
50,UR,"Rodent ""sp.""",Rodent,Rodent,"""sp."""
51,US,"Sparrow ""sp.""",Bird,Sparrow,"""sp."""
52,XX,NaN,Zero Trapping Success,NaN,NaN
53,"ZL ""Zonotrichia""",leucophrys,Bird,leucophrys,None
54,"ZM ""Zenaida""",macroura,Bird,macroura,None

we have the taxa column, which tells us to which higher-order taxon the individuals we trapped might belong. We might be interested in getting a quick picture or count of these individuals. To look at this issue, we can use the groupby function.

In [5]:
species.groupby('taxa')

Groupby has some nice properties for getting speedy peeks at data. How large is the membership to each group?

In [6]:
species.groupby('taxa').size()

taxa
Bird                     13
Rabbit                    1
Reptile                   9
Rodent                   28
Rodent-not censused       3
Zero Trapping Success     1
dtype: int64

In [7]:
number_of = species.groupby('taxa').size()

Or, we could take a look at what unique genera are represented in each taxon type. To do this, when we group on the 'taxa' column, we only select the genus column.

In [8]:
uniq_genera = species.groupby('taxa')['genus'].unique()

In [9]:
for genus_set in uniq_genera:
    print(genus_set)

['Amphispiza' 'Ammodramus' 'Campylorhynchus' 'Calamospiza' 'Callipepla'
 'Pipilo' 'Pooecetes' 'Spizella' 'Sparrow' 'leucophrys' 'macroura']
['Sylvilagus']
['Crotalus' 'Cnemidophorus' 'Eumeces' 'Gambelia' 'Sceloporus' 'Lizard']
['Baiomys' 'Dipodomys' 'Neotoma' 'Onychomys' 'Chaetodipus' 'Peromyscus'
 'Perognathus' 'Reithrodontomys' 'Sigmodon' 'Rodent']
['Ammospermophilus' 'Spermophilus']
[nan]

We could combine these two operations to find out how many of the genera in the dataset are not unique. We can do this using the `zip` function, which allows us to co-iterate over two lists.

In [10]:
for genus_set, numb in zip(uniq_genera, number_of):
    print(numb - len(genus_set))

2
0
3
18
1
0

# Challenge

Load in the surveys dataframe. In the surveys dataframe, group based on the sex of the animal. 

- Can you get a list of unique genera for both males and females? 
- Are these lists the same (i.e., are there any genera represented in the males but not females)? 
- BONUS CHALLENGE: Have a look at automating that second challenge. Try:

```
sorted(grouped[0])
```

Can you use this command to spot the outlier a little easier? What if you combined sorting and Boolean comparisons?